* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*   perspective: 500px; */
}

#app {
    display: inline-block;
    border: solid 10px #424242;
    box-shadow: 0 0 40px grey;
    /*   transform: rotateX(10deg); */
}

.player {
    text-align: center;
    padding: 20px;
}

.row {
    width: calc(8 * 50px);
    margin: 0 auto;
    line-height: 0;
}

.row div {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.row div .game-piece {
    position: absolute;
    border: none;
    height: 50px;
    width: 50px;
    font-style: normal;
    font-size: 2.2em;
    line-height: normal;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

.row div .active {
    /* border: dotted 1px #424242; */
    text-shadow: 10px -10px 10px grey;
}

.white {
    background: #fff;
}

.grey {
    background: #e0e0e0;
}